body {
    font-family: 'Dancing Script', cursive;
    color: white;
    background-color: black;
    margin: auto;
    padding: 30px;

}
header {
    background-color: #5b7989;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#cuerpo {
    background-color: #d5c75f;
}

footer {
    background-color: #c6d5c5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


header h1 {
    font-size: 20px;
    text-shadow:2px 2px #02010a;
    width: 100%;
    text-align: center;
}
header nav {
    
    width: 100%;
    text-align: center;
    
    
}
 header nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding-right: 10px;
     
 }

#cuerpo {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#cuerpo div {
    padding-bottom: 20px;
    padding-top: 20px;
}
#cuerpo div img  {
    width: 80%;
    box-shadow: 2px 2px black ;
}



footer {
    margin-left: auto;
    margin-right: auto;
    color:black;
    display: flex;
    flex-direction: column;
    
    text-align: center;
}
footer div {
    width: 100%;
}

footer div img {
    width: 10%;
    
}
footer div h2 {
    font-size: 20px;
}


@media (min-width: 900px) {
header {
    display: flex;
    
}

header h1 {
    font-size: 20px;
    text-shadow:2px 2px #02010a;
    width: 70%;
    margin-left: 30px;
}
header nav {
    margin-left: 20%;
    margin-top: 15px;
    width: 30%
}

header nav a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding-right: 10px;
}
}

@media (min-width: 900px) {
div[id^='servi']     {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    

}
#cuerpo div {
    width: 100%;
    padding: 15px;
    
    
}



}
@media (min-width: 900px) {
    footer {
        margin-left: auto;
        margin-right: auto;
        color:black;
        display: flex;
        flex-direction: row;
        padding: 25px;
    }
    footer div {
        width: 25%;
    }
    
    footer div img {
        width: 25%;
        
    }
    footer div h2 {
        font-size: 20px;
    }
    footer #miredes, #micontacto {
        display: inline;    
    
    }
}
